@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700");
/* line 5, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/styles.scss */
html {
  background-color: #00ACC1;
}

/* line 26, ../sass/styles.scss */
body {
  font-family: 'Ubuntu', sans-serif;
}

/* line 31, ../sass/styles.scss */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .8s;
  -moz-animation-duration: .8s;
  -ms-animation-duration: .8s;
  -o-animation-duration: .8s;
  animation-duration: .8s;
}

@-webkit-keyframes FadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes FadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-o-keyframes FadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes FadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
/* line 89, ../sass/styles.scss */
.FadeInTop {
  -webkit-animation-name: FadeInTop;
  -moz-animation-name: FadeInTop;
  -o-animation-name: FadeInTop;
  animation-name: FadeInTop;
}

@-webkit-keyframes FadeInTop2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes FadeInTop2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-o-keyframes FadeInTop2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes FadeInTop2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
/* line 144, ../sass/styles.scss */
.FadeInTop2 {
  -webkit-animation-name: FadeInTop2;
  -moz-animation-name: FadeInTop2;
  -o-animation-name: FadeInTop2;
  animation-name: FadeInTop2;
}

@-webkit-keyframes FadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes FadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes FadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes FadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
/* line 196, ../sass/styles.scss */
.FadeInLeft {
  -webkit-animation-name: FadeInLeft;
  -moz-animation-name: FadeInLeft;
  -o-animation-name: FadeInTop2;
  animation-name: FadeInLeft;
}

/* line 207, ../sass/styles.scss */
.form-abm {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  background-color: #EEEEEE;
}

/* line 216, ../sass/styles.scss */
.form-open {
  right: 0 !important;
}

/* line 220, ../sass/styles.scss */
.mi-pedido-no-pedido {
  background-color: #546E7A !important;
  color: white;
}

/* line 225, ../sass/styles.scss */
.mi-pedido-pedido {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
}

/* line 231, ../sass/styles.scss */
.mi-pedido-top {
  display: flex;
  flex-direction: row;
}

/* line 237, ../sass/styles.scss */
.mi-pedido-extra {
  background-color: #D5D5D5;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

/* line 244, ../sass/styles.scss */
.mi-pedido-eliminar {
  height: 20px;
  width: 20px;
  margin-left: calc(50% - 10px);
  padding: 5px;
}

/* line 251, ../sass/styles.scss */
.mi-pedido-top-left,
.mi-pedido-extra-left {
  flex: 1;
  margin: 5px;
}

/* line 257, ../sass/styles.scss */
.mi-pedido-top-right,
.mi-pedido-extra-right {
  flex: 1;
  margin: 5px;
}

/* line 263, ../sass/styles.scss */
.nav {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  background-color: #263238;
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 5px;
}
/* line 275, ../sass/styles.scss */
.nav img {
  height: 30px;
  width: 30px;
}
/* line 279, ../sass/styles.scss */
.nav .separator {
  flex: 8;
}

/* line 284, ../sass/styles.scss */
.view-container {
  margin-top: 40px;
}

/* line 288, ../sass/styles.scss */
.mi-pedido-titulo {
  width: calc(100% - 20px);
  background-color: #00ACC1;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  display: inherit;
  padding: 10px;
  font-size: 7vw;
  -webkit-animation: FadeInTop2 ease-in 1;
  -moz-animation: FadeInTop2 ease-in 1;
  animation: FadeInTop2 ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .3s;
  -moz-animation-duration: .3s;
  animation-duration: .3s;
}
@media (min-width: 600px) {
  /* line 288, ../sass/styles.scss */
  .mi-pedido-titulo {
    font-size: 4vw;
  }
}

/* line 311, ../sass/styles.scss */
.productos-insite-categoria-titulo,
.productos-insite-producto-guar-titulo {
  width: calc(100% - 20px);
  background-color: #00ACC1;
  display: inherit;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 7vw;
  color: white;
  -webkit-animation: FadeInTop2 ease-in 1;
  -moz-animation: FadeInTop2 ease-in 1;
  animation: FadeInTop2 ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .3s;
  -moz-animation-duration: .3s;
  animation-duration: .3s;
}
@media (min-width: 600px) {
  /* line 311, ../sass/styles.scss */
  .productos-insite-categoria-titulo,
  .productos-insite-producto-guar-titulo {
    font-size: 4vw;
  }
}

/* line 335, ../sass/styles.scss */
.productos-insite-categoria-imagen {
  padding: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a1b2b4+0,a1b2b4+100&1+0,0.3+100 */
  background: -moz-linear-gradient(top, #a1b2b4 0%, rgba(161, 178, 180, 0.3) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a1b2b4 0%, rgba(161, 178, 180, 0.3) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a1b2b4 0%, rgba(161, 178, 180, 0.3) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1b2b4', endColorstr='#4da1b2b4',GradientType=0 );
  /* IE6-9 */
}
/* line 346, ../sass/styles.scss */
.productos-insite-categoria-imagen svg {
  display: flex;
  width: 100% !important;
  height: 100%;
}

/* line 353, ../sass/styles.scss */
.productos-list h1 {
  Padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}

/* line 359, ../sass/styles.scss */
.buscador-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
/* line 364, ../sass/styles.scss */
.buscador-container .input {
  display: flex;
  width: 99%;
  margin: 5px;
  font-size: 18px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

/* line 374, ../sass/styles.scss */
.productos-insite-producto,
.productos-insite-producto-guarnicion {
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  font-size: 17px;
  padding: 8px;
}
/* line 382, ../sass/styles.scss */
.productos-insite-producto span:nth-child(1),
.productos-insite-producto-guarnicion span:nth-child(1) {
  flex: 8;
}
/* line 385, ../sass/styles.scss */
.productos-insite-producto span,
.productos-insite-producto-guarnicion span {
  padding: 5px;
}

@media (min-width: 600px) {
  /* line 392, ../sass/styles.scss */
  .productos-insite-producto:hover, .productos-insite-producto-guarnicion:hover {
    cursor: pointer;
    background-color: #76986A !important;
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}

/* line 406, ../sass/styles.scss */
.productos-insite-detalle {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

/* line 412, ../sass/styles.scss */
.productos-insite-producto {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  padding: 5px;
  background-color: #EDEDED;
}

/* line 419, ../sass/styles.scss */
.productos-insite-producto-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #000000;
}

/* line 428, ../sass/styles.scss */
.productos-insite-producto-titulo {
  font-weight: bold;
}

/* line 431, ../sass/styles.scss */
.productos-insite-producto-precio {
  font-weight: bold;
  color: black;
}

/* line 436, ../sass/styles.scss */
.productos-insite-producto-add-remove {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  background: #263238;
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
}
/* line 445, ../sass/styles.scss */
.productos-insite-producto-add-remove button {
  border-style: none;
  background: none;
  padding-top: 5px;
}

/* line 453, ../sass/styles.scss */
.productos-insite-producto-comentario {
  max-height: 30px;
  display: flex;
  width: 93%;
  background: white;
  border-radius: 2px;
  padding: 12px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  margin: 10px auto;
  border-style: none;
}

/* line 469, ../sass/styles.scss */
.productos-insite-producto-description {
  padding-left: 10px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 22px;
}

/* line 477, ../sass/styles.scss */
.botonera {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  padding: 7px;
  margin-bottom: 10px;
}
/* line 484, ../sass/styles.scss */
.botonera svg {
  -webkit-animation: FadeInTop2 ease-in 1;
  -moz-animation: FadeInTop2 ease-in 1;
  animation: FadeInTop2 ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .3s;
  -moz-animation-duration: .3s;
  animation-duration: .3s;
}

/* line 496, ../sass/styles.scss */
.boton-agregar, .boton-cancelar, .boton-ok, .boton-eliminar, .boton-calendario {
  position: relative;
  height: 37px;
  width: 37px;
  flex: 0 0 37px;
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 100%;
  overflow: hidden;
  font-size: 16px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 512, ../sass/styles.scss */
.btn-agregar, .btn-cancelar, .btn-ok, .btn-eliminar, .btn-calendario {
  position: relative;
  color: #fff;
  font-size: 14px;
  height: 37px;
  width: 100px;
  flex: 0 0 37px;
  display: inline-block;
  border-radius: 5px;
  padding: 0;
  border: 0;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 530, ../sass/styles.scss */
.boton-cancelar, .btn-cancelar {
  background-color: #ED7161 !important;
}

/* line 533, ../sass/styles.scss */
.boton-agregar, .btn-agregar {
  background-color: #293333;
}

/* line 536, ../sass/styles.scss */
.boton-ok, .btn-ok {
  background-color: #00CE5D;
}

/* line 539, ../sass/styles.scss */
.boton-eliminar, .btn-eliminar {
  background-color: sandybrown;
}

/* line 542, ../sass/styles.scss */
.boton-calendario, .btn-calendario {
  background-color: #447EAF;
}

/* line 546, ../sass/styles.scss */
.fa {
  color: white;
}

/* line 550, ../sass/styles.scss */
.boton-agregar:hover, .boton-cancelar:hover, .boton-ok:hover, .boton-eliminar:hover, .boton-calendario:hover,
.btn-agregar:hover, .btn-cancelar:hover, .btn-ok:hover, .btn-eliminar:hover, .btn-calendario:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer !important;
  background-color: #79996D !important;
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Safari */
  transform: scale(1.2, 1.2);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 563, ../sass/styles.scss */
.btn-agregar:hover, .btn-cancelar:hover, .btn-ok:hover, .btn-eliminar:hover, .btn-calendario:hover {
  -ms-transform: scale(1, 1);
  /* IE 9 */
  -webkit-transform: scale(1, 1);
  /* Safari */
  transform: scale(1, 1);
}

/* line 569, ../sass/styles.scss */
.input input {
  width: 97%;
  font-size: 18px !important;
  color: black !important;
  height: 30px;
  border-style: none;
  padding: 5px;
}

/* line 579, ../sass/styles.scss */
.total-mi-pedido {
  margin: 4px auto;
  font-size: 28px;
  font-family: 'Ubuntu', sans-serif;
  padding-right: 10px;
}

/* line 589, ../sass/styles.scss */
.plato-sin-confirmar {
  border-top: 5px solid darkred !important;
}

/* line 591, ../sass/styles.scss */
.plato-confirmado {
  border-top: 5px solid yellow !important;
}

/* line 594, ../sass/styles.scss */
.plato-servido {
  border-top: 5px #79996D solid !important;
}

/* line 599, ../sass/styles.scss */
.contenedor-mesero-plugin mv-productos-insite {
  flex: 3;
}

@media (max-width: 600px) {
  /* line 605, ../sass/styles.scss */
  .contenedor-mesero-plugin mv-mi-pedido {
    display: none;
    visibility: hidden;
  }
}

/* line 613, ../sass/styles.scss */
mv-mi-pedido .lista {
  background-color: #EDEDED;
}

/* line 622, ../sass/styles.scss */
.mv-mensaje-custom-show {
  position: fixed;
  height: 50px;
  width: 500px;
  z-index: 1200;
  top: 50%;
  left: calc(50% - 250px);
  vertical-align: middle;
}
/* line 631, ../sass/styles.scss */
.mv-mensaje-custom-show i {
  vertical-align: middle;
  padding: 10px 10px 10px 0;
}
/* line 635, ../sass/styles.scss */
.mv-mensaje-custom-show i.exit-button {
  float: right;
  vertical-align: middle;
  opacity: .4;
  padding: 10px 0 10px 10px;
}
/* line 640, ../sass/styles.scss */
.mv-mensaje-custom-show i.exit-button:hover {
  opacity: .8;
  cursor: pointer;
}
/* line 646, ../sass/styles.scss */
.mv-mensaje-custom-show i.ico-info {
  color: rgba(255, 255, 255, 0.5) !important;
}
/* line 649, ../sass/styles.scss */
.mv-mensaje-custom-show i.ico-warn {
  color: rgba(255, 255, 255, 0.5) !important;
}
/* line 652, ../sass/styles.scss */
.mv-mensaje-custom-show i.ico-success {
  color: rgba(255, 255, 255, 0.5) !important;
}
/* line 655, ../sass/styles.scss */
.mv-mensaje-custom-show i.ico-error {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* line 671, ../sass/styles.scss */
.mv-error-message, .mv-success-message, .mv-info-message, .mv-warning-message {
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  width: 250px !important;
  font-size: 16px;
  line-height: 26px;
  z-index: 1500;
  margin-left: 100px;
  text-align: center;
  display: flex;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* line 687, ../sass/styles.scss */
.mv-error-message {
  background-color: #F44336;
  color: white !important;
}

/* line 692, ../sass/styles.scss */
.mv-success-message {
  background-color: #CDDC39;
  color: white;
}

/* line 697, ../sass/styles.scss */
.mv-info-message {
  background-color: #447EAF;
  color: white !important;
}

/* line 702, ../sass/styles.scss */
.mv-warning-message {
  background-color: #96722E;
  color: white !important;
}

/* line 707, ../sass/styles.scss */
.error-message {
  display: flex;
  position: absolute;
  top: 16px !important;
  left: -1px !important;
  text-align: center;
  height: 200px;
  margin: auto;
  font-size: 14px;
  padding: 30px;
  -webkit-border-radius: 2px;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in-out 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

/* line 736, ../sass/styles.scss */
button:focus {
  outline-style: none !important;
}

/* line 738, ../sass/styles.scss */
.row-warning {
  color: gold;
}
