@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700");
/* line 5, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/styles.scss */
body {
  font-family: 'Ubuntu', sans-serif;
}

/* line 25, ../sass/styles.scss */
.form-abm {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  background-color: #EEEEEE;
}

/* line 34, ../sass/styles.scss */
.form-open {
  right: 0 !important;
}

/* line 38, ../sass/styles.scss */
.mi-pedido-no-pedido {
  background-color: #DfDfDf !important;
}

/* line 42, ../sass/styles.scss */
.mi-pedido-pedido {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

/* line 48, ../sass/styles.scss */
.mi-pedido-top {
  display: flex;
  flex-direction: row;
}

/* line 54, ../sass/styles.scss */
.mi-pedido-extra {
  background-color: #D5D5D5;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

/* line 61, ../sass/styles.scss */
.mi-pedido-eliminar {
  height: 20px;
  width: 20px;
  margin-left: calc(50% - 10px);
  padding: 5px;
}

/* line 68, ../sass/styles.scss */
.mi-pedido-top-left,
.mi-pedido-extra-left {
  flex: 3;
  margin: 5px;
}

/* line 74, ../sass/styles.scss */
.mi-pedido-top-right,
.mi-pedido-extra-right {
  flex: 1;
  margin: 5px;
}

/* line 80, ../sass/styles.scss */
.nav {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  background-color: #263238;
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 5px;
}
/* line 92, ../sass/styles.scss */
.nav img {
  height: 30px;
  width: 30px;
}
/* line 96, ../sass/styles.scss */
.nav .separator {
  flex: 8;
}

/* line 101, ../sass/styles.scss */
.view-container {
  margin-top: 40px;
}

/* line 105, ../sass/styles.scss */
.mi-pedido-titulo {
  width: calc(100% - 20px);
  background-color: #00ACC1;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  display: inherit;
  padding: 10px;
  font-size: 7vw;
}
@media (min-width: 600px) {
  /* line 105, ../sass/styles.scss */
  .mi-pedido-titulo {
    font-size: 4vw;
  }
}

/* line 120, ../sass/styles.scss */
.productos-insite-categoria-titulo,
.productos-insite-producto-guar-titulo {
  width: calc(100% - 20px);
  background-color: #00ACC1;
  display: inherit;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 7vw;
  color: white;
}
@media (min-width: 600px) {
  /* line 120, ../sass/styles.scss */
  .productos-insite-categoria-titulo,
  .productos-insite-producto-guar-titulo {
    font-size: 4vw;
  }
}

/* line 136, ../sass/styles.scss */
.productos-insite-categoria-imagen {
  padding: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a1b2b4+0,a1b2b4+100&1+0,0.3+100 */
  background: -moz-linear-gradient(top, #a1b2b4 0%, rgba(161, 178, 180, 0.3) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a1b2b4 0%, rgba(161, 178, 180, 0.3) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a1b2b4 0%, rgba(161, 178, 180, 0.3) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1b2b4', endColorstr='#4da1b2b4',GradientType=0 );
  /* IE6-9 */
}
/* line 147, ../sass/styles.scss */
.productos-insite-categoria-imagen svg {
  display: flex;
  width: 100% !important;
  height: 100%;
}

/* line 154, ../sass/styles.scss */
.productos-list h1 {
  Padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}

/* line 160, ../sass/styles.scss */
.buscador-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
/* line 165, ../sass/styles.scss */
.buscador-container .input {
  display: flex;
  width: 99%;
  margin: 5px;
  font-size: 18px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

/* line 175, ../sass/styles.scss */
.productos-insite-producto,
.productos-insite-producto-guarnicion {
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  font-size: 17px;
  padding: 8px;
}
/* line 183, ../sass/styles.scss */
.productos-insite-producto span:nth-child(1),
.productos-insite-producto-guarnicion span:nth-child(1) {
  flex: 8;
}
/* line 186, ../sass/styles.scss */
.productos-insite-producto span,
.productos-insite-producto-guarnicion span {
  padding: 5px;
}

@media (min-width: 600px) {
  /* line 193, ../sass/styles.scss */
  .productos-insite-producto:hover, .productos-insite-producto-guarnicion:hover {
    cursor: pointer;
    background-color: #76986A !important;
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}

/* line 207, ../sass/styles.scss */
.productos-insite-detalle {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

/* line 213, ../sass/styles.scss */
.productos-insite-producto {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  padding: 5px;
  background-color: #EDEDED;
}

/* line 220, ../sass/styles.scss */
.productos-insite-producto-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #000000;
}

/* line 229, ../sass/styles.scss */
.productos-insite-producto-titulo {
  font-weight: bold;
}

/* line 232, ../sass/styles.scss */
.productos-insite-producto-precio {
  font-weight: bold;
  color: black;
}

/* line 237, ../sass/styles.scss */
.productos-insite-producto-add-remove {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  background: #263238;
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
}
/* line 246, ../sass/styles.scss */
.productos-insite-producto-add-remove button {
  border-style: none;
  background: none;
  padding-top: 5px;
}

/* line 254, ../sass/styles.scss */
.productos-insite-producto-comentario {
  display: flex;
  margin: 5px auto;
  width: 97%;
  background: #D8D8D8;
  border: 1px solid #979797;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

/* line 265, ../sass/styles.scss */
.productos-insite-producto-description {
  padding-left: 10px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 22px;
}

/* line 273, ../sass/styles.scss */
.botonera {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 279, ../sass/styles.scss */
.boton-agregar, .boton-cancelar, .boton-ok, .boton-eliminar, .boton-calendario {
  position: relative;
  height: 37px;
  width: 37px;
  flex: 0 0 37px;
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 100%;
  overflow: hidden;
  font-size: 16px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 295, ../sass/styles.scss */
.btn-agregar, .btn-cancelar, .btn-ok, .btn-eliminar, .btn-calendario {
  position: relative;
  color: #fff;
  font-size: 14px;
  height: 37px;
  width: 100px;
  flex: 0 0 37px;
  display: inline-block;
  border-radius: 5px;
  padding: 0;
  border: 0;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 313, ../sass/styles.scss */
.boton-cancelar, .btn-cancelar {
  background-color: #ED7161 !important;
}

/* line 316, ../sass/styles.scss */
.boton-agregar, .btn-agregar {
  background-color: #293333;
}

/* line 319, ../sass/styles.scss */
.boton-ok, .btn-ok {
  background-color: #00CE5D;
}

/* line 322, ../sass/styles.scss */
.boton-eliminar, .btn-eliminar {
  background-color: sandybrown;
}

/* line 325, ../sass/styles.scss */
.boton-calendario, .btn-calendario {
  background-color: #447EAF;
}

/* line 329, ../sass/styles.scss */
.fa {
  color: white;
}

/* line 333, ../sass/styles.scss */
.boton-agregar:hover, .boton-cancelar:hover, .boton-ok:hover, .boton-eliminar:hover, .boton-calendario:hover,
.btn-agregar:hover, .btn-cancelar:hover, .btn-ok:hover, .btn-eliminar:hover, .btn-calendario:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer !important;
  background-color: #79996D !important;
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Safari */
  transform: scale(1.2, 1.2);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 346, ../sass/styles.scss */
.btn-agregar:hover, .btn-cancelar:hover, .btn-ok:hover, .btn-eliminar:hover, .btn-calendario:hover {
  -ms-transform: scale(1, 1);
  /* IE 9 */
  -webkit-transform: scale(1, 1);
  /* Safari */
  transform: scale(1, 1);
}

/* line 352, ../sass/styles.scss */
.input input {
  width: 100%;
  font-size: 18px !important;
  color: black !important;
  height: 30px;
  border-style: none;
  padding: 5px;
}

/* line 362, ../sass/styles.scss */
.total-mi-pedido {
  margin: 4px auto;
  font-size: 28px;
  font-family: 'Ubuntu', sans-serif;
  padding-right: 10px;
}

/* line 372, ../sass/styles.scss */
.plato-sin-confirmar {
  border-top: 5px solid darkred !important;
}

/* line 374, ../sass/styles.scss */
.plato-confirmado {
  border-top: 5px solid yellow !important;
}

/* line 377, ../sass/styles.scss */
.plato-servido {
  border-top: 5px #79996D solid !important;
}

/* line 382, ../sass/styles.scss */
.contenedor-mesero-plugin mv-productos-insite {
  flex: 3;
}

@media (max-width: 600px) {
  /* line 388, ../sass/styles.scss */
  .contenedor-mesero-plugin mv-mi-pedido {
    display: none;
    visibility: hidden;
  }
}
