@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700");
/* line 5, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes FadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes FadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-o-keyframes FadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes FadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
/* line 59, ../sass/styles.scss */
.FadeInTop {
  -webkit-animation-name: FadeInTop;
  -moz-animation-name: FadeInTop;
  -o-animation-name: FadeInTop;
  animation-name: FadeInTop;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes FadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes FadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes FadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes FadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
/* line 138, ../sass/styles.scss */
.FadeInLeft {
  -webkit-animation-name: FadeInLeft;
  -moz-animation-name: FadeInLeft;
  -o-animation-name: FadeInTop2;
  animation-name: FadeInLeft;
}

/* line 157, ../sass/styles.scss */
body {
  font-family: 'Ubuntu', sans-serif;
}

/* line 161, ../sass/styles.scss */
html {
  background-color: #263238;
}

/* line 165, ../sass/styles.scss */
.form-abm {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  background-color: #EEEEEE;
}

/* line 174, ../sass/styles.scss */
.form-open {
  right: 0 !important;
  background-color: white;
  -webkit-animation: FadeInLeft ease-in 1;
  -moz-animation: FadeInLeft ease-in 1;
  animation: FadeInLeft ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .3s;
  -moz-animation-duration: .3s;
  animation-duration: .3s;
}

/* line 188, ../sass/styles.scss */
.mi-pedido-no-pedido {
  background-color: #DfDfDf !important;
}

/* line 192, ../sass/styles.scss */
.mi-pedido-pedido {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

/* line 198, ../sass/styles.scss */
.mi-pedido-top {
  display: flex;
  flex-direction: row;
  background-color: #263238;
  border-bottom: 0.1px solid #00ACC1;
  color: white;
  line-height: 26px;
  -webkit-animation: FadeInTop ease-in 1;
  -moz-animation: FadeInTop ease-in 1;
  animation: FadeInTop ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
}

/* line 217, ../sass/styles.scss */
.mi-pedido-extra {
  display: flex;
  flex-direction: row;
  background-color: #263238;
  border-bottom: 0.1px solid #00ACC1;
  color: white;
  line-height: 26px;
  -webkit-animation: FadeInTop ease-in 1;
  -moz-animation: FadeInTop ease-in 1;
  animation: FadeInTop ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
}

/* line 234, ../sass/styles.scss */
.mi-pedido-eliminar {
  height: 20px;
  width: 20px;
  margin-left: calc(50% - 10px);
  padding: 5px;
}

/* line 241, ../sass/styles.scss */
.mi-pedido-top-left,
.mi-pedido-extra-left {
  flex: 8;
  margin: 5px;
  font-size: 17px;
}

/* line 248, ../sass/styles.scss */
.mi-pedido-top-right,
.mi-pedido-extra-right {
  flex: 1;
  margin: 5px;
  font-size: 17px;
  color: #00ACC1;
}

/* line 256, ../sass/styles.scss */
.nav {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  background-color: #263238;
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 28px;
  padding: 5px;
  z-index: 1200;
}
/* line 269, ../sass/styles.scss */
.nav img {
  height: 25px;
  width: 25px;
}
/* line 273, ../sass/styles.scss */
.nav .separator {
  flex: 8;
}

/* line 278, ../sass/styles.scss */
.view-container {
  margin-top: 40px;
}

/* line 282, ../sass/styles.scss */
.mi-pedido-titulo {
  width: calc(100% - 20px);
  background-color: #263238;
  color: #00ACC1;
  font-family: 'Ubuntu', sans-serif;
  display: inherit;
  padding: 10px;
  font-size: 30px;
  text-transform: uppercase;
  -webkit-animation: FadeInTop ease-in 1;
  -moz-animation: FadeInTop ease-in 1;
  animation: FadeInTop ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
}

/* line 301, ../sass/styles.scss */
.productos-insite-categoria-titulo,
.productos-insite-producto-guar-titulo {
  width: calc(100% - 20px);
  background-color: #00ACC1;
  display: inherit;
  text-transform: uppercase;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  color: white;
  -webkit-animation: FadeInTop ease-in 1;
  -moz-animation: FadeInTop ease-in 1;
  animation: FadeInTop ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
}

/* line 324, ../sass/styles.scss */
.productos-insite-categoria-imagen {
  width: 100%;
  height: 12.8vw;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
}
/* line 332, ../sass/styles.scss */
.productos-insite-categoria-imagen svg {
  margin: auto;
  width: 95% !important;
  height: 100%;
  margin-left: 2%;
  -webkit-animation: FadeIn ease-in 1;
  -moz-animation: FadeIn ease-in 1;
  animation: FadeIn ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
}

/* line 348, ../sass/styles.scss */
.productos-list h1 {
  Padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  border-bottom: 1px solid white;
}

/* line 356, ../sass/styles.scss */
.buscador-container {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
/* line 362, ../sass/styles.scss */
.buscador-container .input {
  display: flex;
  font-size: 18px;
  width: 100%;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

/* line 371, ../sass/styles.scss */
.productos-insite-producto,
.productos-insite-producto-guarnicion {
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  font-size: 17px;
  padding: 8px;
}
/* line 379, ../sass/styles.scss */
.productos-insite-producto span:nth-child(1),
.productos-insite-producto-guarnicion span:nth-child(1) {
  flex: 8;
}
/* line 382, ../sass/styles.scss */
.productos-insite-producto span,
.productos-insite-producto-guarnicion span {
  padding: 5px;
}

@media (min-width: 600px) {
  /* line 389, ../sass/styles.scss */
  .productos-insite-producto:hover, .productos-insite-producto-guarnicion:hover {
    cursor: pointer;
    background-color: #76986A !important;
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}

/* line 401, ../sass/styles.scss */
.productos-insite-producto:nth-child(odd),
.productos-insite-producto-guarnicion:nth-child(odd) {
  background-color: white;
}

/* line 406, ../sass/styles.scss */
.productos-insite-detalle {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 38px;
}

/* line 414, ../sass/styles.scss */
.productos-insite-producto {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  padding: 5px;
}

/* line 420, ../sass/styles.scss */
.productos-insite-producto-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  background-color: #00ACC1;
  color: white;
  padding: 5px;
  -webkit-animation: FadeInTop ease-in 1;
  -moz-animation: FadeInTop ease-in 1;
  animation: FadeInTop ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
}

/* line 439, ../sass/styles.scss */
.productos-insite-producto-precio {
  color: white;
}

/* line 444, ../sass/styles.scss */
.productos-insite-producto-add-remove {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #263238;
  color: white;
  font-size: 32px;
  padding-top: 5px;
  font-family: 'Ubuntu', sans-serif;
}
/* line 453, ../sass/styles.scss */
.productos-insite-producto-add-remove button {
  border-style: none;
  background: none;
}

/* line 460, ../sass/styles.scss */
.productos-insite-producto-comentario {
  color: black;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
  /* Rectangle 2 Copy 5: */
  background: white;
  border-radius: 2px;
  border: .5px solid darkgray;
  width: 90%;
  margin: 5px auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

/* line 476, ../sass/styles.scss */
.productos-insite-producto-description {
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: -webkit-left;
  border-top: 1px solid #263238;
  border-bottom: 1px solid #263238;
  color: black;
}

/* line 487, ../sass/styles.scss */
.botonera {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 493, ../sass/styles.scss */
.boton-agregar, .boton-cancelar, .boton-ok, .boton-eliminar, .boton-calendario {
  position: relative;
  height: 37px;
  width: 37px;
  flex: 0 0 37px;
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 100%;
  overflow: hidden;
  font-size: 16px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 509, ../sass/styles.scss */
.btn-agregar, .btn-cancelar, .btn-ok, .btn-eliminar, .btn-calendario {
  position: relative;
  color: #fff;
  font-size: 14px;
  height: 37px;
  width: 100px;
  flex: 0 0 37px;
  display: inline-block;
  border-radius: 5px;
  padding: 0;
  border: 0;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 527, ../sass/styles.scss */
.boton-cancelar, .btn-cancelar {
  background-color: #ED7161 !important;
}

/* line 530, ../sass/styles.scss */
.boton-agregar, .btn-agregar {
  background-color: #293333;
}

/* line 533, ../sass/styles.scss */
.boton-ok, .btn-ok {
  background-color: #00CE5D;
}

/* line 536, ../sass/styles.scss */
.boton-eliminar, .btn-eliminar {
  background-color: sandybrown;
}

/* line 539, ../sass/styles.scss */
.boton-calendario, .btn-calendario {
  background-color: #447EAF;
}

/* line 543, ../sass/styles.scss */
.fa {
  color: white;
}

/* line 547, ../sass/styles.scss */
.boton-agregar:hover, .boton-cancelar:hover, .boton-ok:hover, .boton-eliminar:hover, .boton-calendario:hover,
.btn-agregar:hover, .btn-cancelar:hover, .btn-ok:hover, .btn-eliminar:hover, .btn-calendario:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer !important;
  background-color: #79996D !important;
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Safari */
  transform: scale(1.2, 1.2);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 560, ../sass/styles.scss */
.btn-agregar:hover, .btn-cancelar:hover, .btn-ok:hover, .btn-eliminar:hover, .btn-calendario:hover {
  -ms-transform: scale(1, 1);
  /* IE 9 */
  -webkit-transform: scale(1, 1);
  /* Safari */
  transform: scale(1, 1);
}

/* line 566, ../sass/styles.scss */
.input input {
  width: 100%;
  font-size: 18px !important;
  color: black !important;
  height: 30px;
  border-style: none;
  padding: 5px;
}

/* line 576, ../sass/styles.scss */
.total-mi-pedido {
  margin: 4px auto;
  font-size: 21px;
  font-family: 'Ubuntu', sans-serif;
  padding-right: 10px;
}

/* line 586, ../sass/styles.scss */
.plato-sin-confirmar {
  border-right: 40px solid #FFEB3B !important;
  -webkit-animation: FadeIn ease-in 1;
  -moz-animation: FadeIn ease-in 1;
  animation: FadeIn ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
}

/* line 598, ../sass/styles.scss */
.plato-confirmado {
  border-right: 40px solid #CDDC39 !important;
  -webkit-animation: FadeIn ease-in 1;
  -moz-animation: FadeIn ease-in 1;
  animation: FadeIn ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
}

/* line 609, ../sass/styles.scss */
.plato-servido {
  border-right: 40px #00ACC1 solid !important;
  -webkit-animation: FadeIn ease-in 1;
  -moz-animation: FadeIn ease-in 1;
  animation: FadeIn ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
}

/* line 623, ../sass/styles.scss */
.contenedor-mesero-plugin mv-productos-insite {
  flex: 3;
  z-index: 1000;
}

@media (max-width: 600px) {
  /* line 630, ../sass/styles.scss */
  .contenedor-mesero-plugin mv-mi-pedido {
    display: none;
    visibility: hidden;
  }
}

/* line 639, ../sass/styles.scss */
mv-mi-pedido {
  background-color: #263238;
  color: white;
}
