//botones
$clr_control_primary: #00CE5D;

//degradado_principal
$color2: #77b300;
$color3: #446600;

//@import "bourbon";
@import "compass";
@import "compass/reset";
@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
  font-family: "Roboto";
}

.form-abm {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  background-color: #EEEEEE;
}

.form-open {
  right: 0 !important;
}

.mi-pedido-no-pedido {
  background-color: #DfDfDf !important;
}

.mi-pedido-pedido {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.mi-pedido-top {
  display: flex;
  flex-direction: row;

}

.mi-pedido-extra {
  border: 1px solid #8c8c8c;
  background-color: #D5D5D5;
  display: flex;
  flex-direction: row;
}

.mi-pedido-eliminar {
  height: 20px;
  width: 20px;
  margin-left: calc(50% - 10px);
  padding: 5px;
}

.mi-pedido-top-left,
.mi-pedido-extra-left {
  flex: 8;
  margin: 5px;
}

.mi-pedido-top-right,
.mi-pedido-extra-right {
  flex: 1;
  margin: 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  background-color: #eeeeee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 5px;
  img {
    height: 30px;
    width: 30px;
  }
  .separator {
    flex: 8;
  }
}

.view-container {
  margin-top: 40px;
}

.mi-pedido-titulo {
  width: calc(100% - 20px);
  background-color: #dcdcdc;
  color: #90a489;
  font-family: "Roboto-Bold", 'sans-serif';
  display: inherit;
  padding: 10px;
  font-size: 7vw;

  @media (min-width: 600px) {
    font-size: 4vw;
  }

}

.productos-insite-categoria-titulo,
.productos-insite-producto-guar-titulo{
  width: calc(100% - 20px);
  background-color: #dcdcdc;
  display: inherit;
  padding: 10px;
  font-family: "Roboto-Bold", 'sans-serif';
  font-size: 7vw;
  color: #76986A;
  @media (min-width: 600px) {
    font-size: 4vw;
  }

}


.productos-insite-categoria-imagen {
  width: 100%;
  svg{
    display: flex;
    width: 100%!important;
    height: 100%;
  }
}

.productos-list h1{
  Padding: 10px;
  font-family: "Roboto-Bold", 'sans-serif';
  font-size: 22px;
}

.buscador-container {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  .input{
    display: flex;
    width: 99%;
    margin: 5px;
    font-size: 18px;
    color: black;
    font-family: "Roboto-Bold", 'sans-serif';
  }
}

.productos-insite-producto,
.productos-insite-producto-guarnicion{
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  font-size: 17px;
  padding: 8px;

  span:nth-child(1){
    flex: 8;
  }
  span{
    padding: 5px;
  }
}



.productos-insite-producto:hover, .productos-insite-producto-guarnicion:hover{
  @media (min-width: 600px) {
    cursor: pointer;
    background-color: #76986A!important;
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}

.productos-insite-producto:nth-child(odd),
.productos-insite-producto-guarnicion:nth-child(odd) {
  background-color: #DfDfDf;
}

.productos-insite-detalle{
  display: flex;
  flex-direction: column;
}

.productos-insite-producto{
  font-family: "Roboto", 'sans-serif';
  font-size: 16px;
  padding: 5px;
}

.productos-insite-producto-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  font-family: "Roboto-Bold", 'sans-serif';
  font-size: 24px;
  color: #000000;
}
.productos-insite-producto-titulo{
  font-weight: bold;
}
.productos-insite-producto-precio{
  font-weight: bold;
  color: #90a489;
}

.productos-insite-producto-add-remove{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #D8D8D8;
  font-size: 24px;
  font-family: "Roboto", 'sans-serif';
  button{
    border-style: none;
    background: none;
  }

}

.productos-insite-producto-comentario{
  display: flex;
  margin: 5px auto;
  width: 97%;
  background: #D8D8D8;
  border: 1px solid #979797;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
  border-radius: 8px;

}

.productos-insite-producto-description{
  padding: 10px;
  font-family: "Roboto", 'sans-serif';
  font-size: 16px;
}

.botonera{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.boton-agregar, .boton-cancelar, .boton-ok, .boton-eliminar, .boton-calendario {
  position: relative;
  height: 37px;
  width: 37px;
  flex: 0 0 37px;
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 100%;
  overflow: hidden;
  font-size: 16px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn-agregar, .btn-cancelar, .btn-ok, .btn-eliminar, .btn-calendario {
  position: relative;
  color:#fff;
  font-size: 14px;
  height: 37px;
  width: 100px;
  flex: 0 0 37px;
  display: inline-block;
  border-radius: 5px;
  padding: 0;
  border: 0;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.boton-cancelar, .btn-cancelar{
  background-color:#ED7161!important;
}
.boton-agregar, .btn-agregar{
  background-color: #293333;
}
.boton-ok, .btn-ok{
  background-color: #00CE5D;
}
.boton-eliminar, .btn-eliminar{
  background-color: sandybrown;
}
.boton-calendario, .btn-calendario{
  background-color: #447EAF;
}

.fa{
  color: white;
}

.boton-agregar:hover, .boton-cancelar:hover, .boton-ok:hover, .boton-eliminar:hover, .boton-calendario:hover,
.btn-agregar:hover, .btn-cancelar:hover, .btn-ok:hover, .btn-eliminar:hover, .btn-calendario:hover{
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer!important;
  background-color: #79996D!important;
  -ms-transform: scale(1.2, 1.2); /* IE 9 */
  -webkit-transform: scale(1.2, 1.2); /* Safari */
  transform: scale(1.2, 1.2);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn-agregar:hover, .btn-cancelar:hover, .btn-ok:hover, .btn-eliminar:hover, .btn-calendario:hover{
  -ms-transform: scale(1, 1); /* IE 9 */
  -webkit-transform: scale(1, 1); /* Safari */
  transform: scale(1, 1);
}

.input input{
  width: 100%;
  font-size: 18px!important;
  color: black!important;
  height: 30px;
  border-style: none;
  padding: 5px;

}

.total-mi-pedido{
  margin: 4px auto;
  font-size: 28px;
  font-family: "Roboto-Bold", 'sans-serif';
  padding-right: 10px;

}



.plato-sin-confirmar{
  border-top: 5px solid darkred!important;}
.plato-confirmado{
  border-top: 5px solid yellow!important;
}
.plato-servido{
  border-top: 5px #79996D solid !important;
}

.contenedor-mesero-plugin{
  mv-productos-insite{
    flex: 3;
  }
}
 .contenedor-mesero-plugin{
   @media (max-width: 600px) {
     mv-mi-pedido{
       display: none;
       visibility: hidden;
     }
   }
 }

